<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='home')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<form th:action = "@{/admin/cancellaArtista}" method = "POST">
			<div class = "container">
				<div>Artista da rimuovere</div>
				<select name = "artista">
					<option th:each = "artista : ${artisti}"
							th:value = "|${artista.nome} ${artista.cognome}|" 
							th:text = "|${artista.nome} ${artista.cognome}|">
					</option>
				</select>	
				<p> ATTENZIONE! RIMUOVENDO UN ARTISTA VERRANNO </p>
				<p> RIMOSSE TUTTE LE OPERE A LUI ASSOCIATE! </p>
				<div class = "btn">
					<span><button type = "submit">Rimuovi</button></span>
				</div>
				<span><a th:href="@{/admin}">Torna indietro</a></span>
			</div>
		</form>
	</body>
</html>