<!DOCTYPE html>
<html xmlns:th = "http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='home')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<form th:action = "@{/admin/cancellaOpera}" method = POST>
			<div class = "container">
				<div class = "dati">
					<span>Titolo Opera da Rimuovere</span>
					<span><input name = "opera" type = "opera" placeholder = "Titolo opera"/></span>
				</div>
				<div class = "btn">
					<span><button type = "submit">Rimuovi</button></span>
				</div>
				<span><a th:href="@{/admin}">Torna indietro</a></span>
			</div>
		</form>
	</body>
</html>