<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:fragment="headerfiles(title)">
		<th:block th:fragment="baseContent">
			<meta charset="UTF-8" />
			<link th:href="@{/css/index.css}" rel="stylesheet">
			<link th:href="@{/css/header.css}" rel="stylesheet">
			<link th:href="@{/css/footer.css}" rel="stylesheet">
			<link th:href="@{/css/login.css}" rel="stylesheet">
			<link th:href="@{/css/artista.css}" rel="stylesheet">
			<link th:href="@{/css/artisti.css}" rel="stylesheet">
			<link th:href="@{/css/admin.css}" rel="stylesheet">
			<link th:href="@{/css/opera.css}" rel="stylesheet">
			<link th:href="@{/css/table.css}" rel="stylesheet">
			<link th:href="@{/css/collezione.css}" rel="stylesheet">
			<link rel="preconnect" href="https://fonts.gstatic.com">
			<link href="https://fonts.googleapis.com/css2?family=Almendra+SC&display=swap" rel="stylesheet">
			<meta name="viewport" content="width=device-width, user-scalable=no,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">
			<title th:text="${title}">titolo della pagina</title>
		</th:block>	
	</head>
	<body>
		<header id = "intestazione-start" th:fragment="intestazione">
			<div class = "log" sec:authorize = "isAuthenticated()">
					Ciao, <span sec:authentication = "name"> username </span>
					<a sec:authorize="hasAuthority('ADMIN')" th:href = "@{/admin}"> Area riservata </a>
					<a th:href = "@{/logout}"> Logout </a>
				</div>
			<div class = "log" sec:authorize = "isAnonymous()">
				<a href = "#popup1"> Accedi </a>
				<a th:href = "@{/register}"> Registrati </a>
			</div>
			<div id = "wrapper">			
				<nav th:fragment = "navigazione">
					<ul class = "barra">
						<span sec:authorize = "isAuthenticated()"><a th:href = "@{/index}"> <img id="logo" src="/images/logo.png" alt="Museo di Arte Artistica" /></a></span> 
						<span sec:authorize = "isAnonymous()"><a th:href = "@{/index}"> <img id="logo" src="/images/logo.png" alt="Museo di Arte Artistica" /></a></span>
						<li class = "navig"><a th:href="@{/artisti}">Autori</a></li>
						<li class = "navig"><a th:href="@{/opere}">Opere</a></li>
						<li class = "navig"><a th:href="@{/collezioni}">Collezioni</a></li>
						<li class = "navig"><a href="#">Informazioni</a></li>
					</ul>
				</nav>
				<div th:replace = "fragments/loginForm.html :: logger"></div>
			</div>		
		</header>
	
	<footer  th:fragment="footer" id="footer">
		<div id="intestazione"><p>INFORMAZIONI UTILI</p></div>
		<div id="info-container">
			<div class="info">
				<p class="title">CHI SIAMO:</p>
				<ul class="utili">
					<li class="end">siamo un museo molto bello e affascinante, nato da poco per diffonedere cultura e bellezza.</li>
				</ul>
			</div>
			<div class="info">
				<p class="title">DOVE SIAMO:</p>
				<ul class="utili">
					<li class="end">Via: Via Poltorrea 14;</li>
					<li class="end">Comune:Fiano Romano;</li>
					<li class="end">Provincia: Roma;</li>
					<li class="end">Indicazioni stradali: km 69 della via Lattea;</li>
				</ul>
			</div>
			<div class="info">
				<p class="title">CONTATTI:</p>
				<ul class="utili">
					<li class="end"><a href="#" class="fa fa-facebook"></a> Facebook: Museo di Arte Artistica;</li>
					<li class="end"><a href="#" class="fa fa-instagram"></a> Instagram: MuseoDiArteArtistica;</li>
					<li class="end">	Cellulare: +39 331 1234567;</li>
					<li class="end">	Telefono: 0637 23345;</li>
					<li class="end">	Email: <p id="email">museodiarteartisticaroma@gmail.com</p></li>
				</ul>
			</div>
		</div>
	</footer>
</body>
</html>