body{
	display:flex;
	flex-direction:column;
	background-image: url("/images/sfondo.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	font-family: 'Almendra SC', serif;
	align-items: center;
	justify-content:center;
	width:100%;
	height:100%;
	margin: 0px;
}

#desc{
	text-align: center;
	font-family: 'Almendra SC', serif;
	font-size: 35px;
	color: #7b2900;
}
#immagini{
	display: flex;

	justify-content:flex-start;

	flex-wrap:wrap;
	width:100%;
	height:100%;


}

.colonne{
	display: flex;
	align-items:center;
	justify-content:center;
	flex-wrap:wrap;
	width:33%;
	height:0.01%;
	margin:2%;
}

.colonna{
	display: flex;
	flex-direction: column;
	align-items:center;
	justify-content:center;
	width:33%;
	height:0.01%;
}

#int{
	display:flex;
	justify-content:center;
	
}

/*********************************************/


/*********************************************/


.img{
	width: 100%;
	height: 100%;
	border: 3px inset white;
}
p.titolo{	
	margin: 0px auto 0px auto;
	border-left: 2px inset white;
	border-right: 2px inset white;
	border-bottom: 2px inset white;
	padding: 10px;
	font-weight: bold;
	color: black;
}
h4{
	color: #7b2900;
}
div.success{
	color: white;
	text-align: center;
	margin-top: 10%;
	margin-bottom: 10%;
}
h1.success{
	font-family: 'Almendra SC', serif;
}