<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:replace="fragments/base.html :: headerfiles(title='Dettaglio artista')"></head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		<div id = "collezione_content">
			<p id="lista">Opere esposte in questa collezione</p>
			<section id="stanza">
				<div class="parete-opere">
					<div class="opere" th:each = "opera : ${opereColl}">
						<a id="nome" th:href = "@{'/opera' + '/' + ${opera.id}}"><img class="opere" th:src="@{${'/images/opere/'+ opera.titolo + '.jpg'}}"/></a>
						<div class="quadro"><a id="nome" th:href = "@{'/opera' + '/' + ${opera.id}}"><p  th:text = "${opera.titolo}">qui-titolo</p></a></div>
					</div>
				</div>
			</section>
		</div>
	</body>
</html>