<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<th:block th:replace="fragments/base.html :: baseContent"></th:block>
		<link th:href="@{/css/index.css}" rel="stylesheet">
	</head>
	<body>
		<header th:replace="fragments/base.html :: intestazione"></header>
		
		<p id="par">Le opere più apprezzate di questo mese</p>
		<div id="opere-artista">
		<section id="stanza">
			<div class="parete-opere" th:if="${opere}">
				<div class="opere" th:each = "opera : ${opere}">
					<a id="nome" th:href = "@{'/opera' + '/' + ${opera.id}}"><img class="opere_bi" th:src="@{${'/images/opere/'+ opera.titolo + '.jpg'}}"/></a>
					<div class="quadro"><a id="nome" th:href = "@{'/opera' + '/' + ${opera.id}}"><p th:text = "${opera.titolo}">qui-titolo</p></a></div>
				</div>
			</div>
		</section>
		</div>
		<footer th:replace="fragments/base.html :: footer"></footer>
	<body>
</html>